/* Reset some default browser styles */
:root {
  --massif-light-red: #e52f41;
  --massif-red: #af0e1e;
  --massif-ash: #61675b;
  --massif-navy-blue: #315659;
  --massif-gray: #24292e;
  --massif-night: #0f0b0b;
  --white: #ffffff;
}

@font-face {
  font-family: JacBas;
  src: url(./fonts/JacquardaBastarda9-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--massif-light-red);
  color: var(--white);
  padding: 0 5%;
  text-align: center;
}

h1 {
  font-family: "JacBas";
  font-size: 4rem;
}

/* 
tab and tab button target the tabs at the top of the page */
.tab {
  position: sticky;
  top: 0px;
  overflow: hidden;
  background-color: var(--massif-light-red);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab button {
  font-family: JacBas;
  font-size: 2rem;

  background-color: inherit;
  float: left;
  border: none;
  border-color: var(--massif-night);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;

  flex-grow: 1;
}

.tab button:hover {
  background-color: var(--massif-red);
}

/* body {
    background-color: #0f0b0b;
} */

main {
  background-color: #0f0b0b;
}

#content {
  background: var(--massif-gray);
  /* adjust these two to control width of grey strip */
  width: 80%;
  margin: 0% 10%;
}

/* 
the content_page class should fully wrap the individual html pages
it fixes the flex scrolling and adds a fade effect to the
page transitions */
.content_page {
  /* display: none; */
  padding: 6px 12px;
  border-top: none;

  padding: 5%;
  animation: fadeEffect 1s;

  height: 100vh;
  /* position: sticky; */
  /* top: 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: start;
    align-items: center; */

  color: white;
}

/* 
individual section of a page
an article!!! */
.content_article {
  margin: 2%;
  /* border: solid 1px  var(--massif-night);
    border-radius: 1px; */
  /*     
  border-radius: 2%; */

  padding: 2% 5%;
  /* justify-content: center; */
  background-color: var(--massif-night);

  box-shadow: 0px 0px 5px black;
  /* display: flex; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* underlines and pads an article title
should use h2 for article titles and h3 for subsections */
.content_article h2 {
  border-bottom: solid 2px white;
  margin: 0 0 2% 0;
}

/* will format content side by side - intended for two items 
only. kind of a traditional way to display little chunks of
text + image  */

.side_view .icon-large {
  /* max-width: 100%; */
  width: 25vh;
  display: flex;
  flex-direction: row;
  /* height: auto; */
}

.icon-small {
  max-width: 20%;
  height: auto;
}

/* temporary measure to get side gallery items to show correctly */

.side_gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.side_gallery_item {
  flex-basis: 100%;
}
.side_gallery_item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.side_gallery_item p {
  margin: 10px 0;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
}

a {
  color: yellowgreen;
}
