/* Reset some default browser styles */
:root {
    --massif-light-red: #e52f41;
    --massif-red: #af0e1e;
    --massif-ash: #61675b;
    --massif-navy-blue: #315659;
    --massif-gray: #24292e;
    --massif-night: #0f0b0b;
    --white: #ffffff;
}

@font-face{
    font-family: JacBas;
    src: url(./fonts/JacquardaBastarda9-Regular.ttf)
}

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header {
    background-color: var(--massif-light-red);
    color: var(--white);
    padding: 0 5%;
    text-align: center;
}


h1 {
    font-family: 'JacBas';
    font-size: 4rem;
}

.tab {
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: var(--massif-light-red);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.tab button {
    font-family: JacBas;
    font-size: 2rem;

    background-color: inherit;
    float: left;
    border: none;
    border-color: var(--massif-night);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    
    flex-grow: 1;
  }

.tab button:hover {
    background-color: var(--massif-red);
}

/* body {
    background-color: #0f0b0b;
} */

main {
    background-color: #0f0b0b;
}

#tabframe {
    background: var(--massif-gray);
    width: 90%;

    margin: 0% 5%;
}

.tabcontent {
    /* display: none; */
    padding: 6px 12px;
    border-top: none;
    
    padding: 5%;
    animation: fadeEffect 1s;

    height: 100vh;
    /* position: sticky; */
    /* top: 0; */
    display: flex;
    flex-direction: row;
    /* justify-content: start;
    align-items: center; */
    
    color: white;
}

.contentpanel {
    margin: 2%;
    /* border: solid 1px  var(--massif-night);
    border-radius: 1px; */
    border-radius: 2%;
    
    padding: 2% 5%;
    /* justify-content: center; */
    background-color: var(--massif-night);
    /* display: flex; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon-large {
    /* max-width: 100%; */
    width: 25vh;
    /* height: auto; */
}

.icon-small {
    max-width: 100%;
    height: auto;
}



@keyframes fadeEffect{
    from {opacity: 0; }
    to {opacity: 1; }
}


ul {
    list-style-type: none;
}