/* Reset some default browser styles */
:root {
    --massif-light-red: #e52f41;
    --massif-red: #af0e1e;
    --massif-ash: #61675b;
    --massif-navy-blue: #315659;
    --massif-gray: #24292e;
    --massif-night: #0f0b0b;
    --white: #ffffff;
}

@font-face{
    font-family: JacBas;
    src: url(./fonts/JacquardaBastarda9-Regular.ttf)
}

 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header {
    background-color: var(--massif-light-red);
    color: var(--white);
    padding: 0 5%;
    text-align: center;
}


h1 {
    font-family: 'JacBas';
    font-size: 7rem;
}

.tab {
    overflow: hidden;
    background-color: var(--massif-light-red);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.tab button {
    font-family: JacBas;
    font-size: 2rem;

    background-color: inherit;
    float: left;
    border: none;
    border-color: var(--massif-night);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    
    flex-grow: 1;
  }

.tab button:hover {
    background-color: var(--massif-red);
}

/* body {
    background-color: #0f0b0b;
} */

main {
    background-color: #0f0b0b;
}

section#tabframe {
    background: var(--massif-gray);
    /* height: 100%; */
    height: 100vh;
    height: stretch;
    width: 90%;
    /* position: absolute;  */

    margin: 0% 5%;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    
    padding: 10%;
    animation: fadeEffect 1s;
    
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    color: white;
    /* flex-grow: 1; */
    /* align-items: center; */
    /* display: flex;
    flex-direction: row; */
}
/* 
.tabcontent h2 h3 {
    align-items: center;
} */

@keyframes fadeEffect{
    from {opacity: 0; }
    to {opacity: 1; }
}


ul {
    list-style-type: none;
}